<ion-pane>
    <ion-nav-bar class="bar-fdtd nav-title-slide-ios7">
        <!-- <ion-nav-back-button class="button-icon">
          <i class="icon ion-arrow-left-c"></i>
        </ion-nav-back-button> -->
        <h1 ng-if="time.isNight()" class="title timer" id="countdown"
             ng-style="{color: countdown.color}" class="h1 title"><span class="icon-sunshine"></span>{{countdown.time | date:'HH:mm:ss'}} </h1>
        <h1 ng-if="time.isDay()" class="title timer" id="countdown"
             ng-style="{color: countdown.color}" class="h1 title"><span class="icon-moon"></span>{{countdown.time | date:'HH:mm:ss'}} </h1>
    </ion-nav-bar>
    <ion-nav-view name="loginContent" animation="slide-left-right"></ion-nav-view>
</ion-pane>