<ion-view class="black-bg">
    <!-- <ion-nav-buttons side="left">
        <button ui-sref="fdtd.settings" class="button button-icon icon ion-arrow-left-c"></button>
    </ion-nav-buttons> -->
    <ion-nav-buttons side="right">
        <button class="icon-camera"></button>
    </ion-nav-buttons>

  <ion-content class="has-header title-content terms-settings">
    
    <h3>FAQ</h3>
    <div class="content-setting" style="color:white;">
        <p dir="ltr">What is FromDuskTillDawn?</p>
&nbsp;
<p dir="ltr">FromDuskTillDawn (FDTD) is the first mobile social network dedicated to nightlife where users have the possibility to publish content(s) only between sunset and sunrise.</p>
&nbsp;
<p dir="ltr">How to download and create an account on FDTD?</p>
&nbsp;
<p dir="ltr">You can download FDTD on the AppStore for free for your iPhone or on Google Play for Android.</p>
&nbsp;
<p dir="ltr">1- When the app is installed, clic the  icon to open</p>
<p dir="ltr">2- Press “Sign up” to create an account</p>
<p dir="ltr">3- Set a username, a password, specify your mail and your age, accept our Terms &amp; Privacy and press “Sign up” button to finish.</p>
&nbsp;
<p dir="ltr">How to modify my profile informations?</p>
&nbsp;
<p dir="ltr">It is only possible to change your password.</p>
&nbsp;
<p dir="ltr">For security reasons, it is currently not possible to change username or mail for an existing account.</p>
&nbsp;
<p dir="ltr">1- Go to “Settings” in the Menu, then “Account Settings”</p>
<p dir="ltr">2- Press “Reset my password” to change it</p>
<p dir="ltr">3- Directly after this step, an mail will be sent  to change your password</p>
&nbsp;
<p dir="ltr">What to do if the username I want is already taken?</p>
&nbsp;
<p dir="ltr">If the username you want is already taken, we suggest you to use abbreviation or add number(s) or dash(es) and try to find the best available username.</p>
&nbsp;
<p dir="ltr">How can I delete my account?</p>
&nbsp;
<p dir="ltr">Send us a mail with the subject “DELETE MY ACCOUNT” at the adress <a href="mailto:support@fdtd.co">support@fdtd.co</a> and we will delete it definitly in the next 7 days.</p>

<h2 dir="ltr">How do I change my username?</h2>
<p dir="ltr">For security reasons, it is currently not possible to change username for an existing account.</p>
<p dir="ltr">How do I change my mail?</p>
<p dir="ltr">For security reasons, it is currently not possible to change mail for an existing account.</p>
<p dir="ltr">How to create and post Photos / Videos ?</p>
<p dir="ltr">1. To open camera, tap once on the top right button  (only accessible between the Sunset and the Sunrise).</p>
<p dir="ltr">2. Tap to take a photo. Tap and hold to take a video (limited to 10 secondes max).</p>
<p dir="ltr">3. To cancel, tap the X button in the top left corner</p>
<p dir="ltr">4. To post your photo / video, tap on “Publish” button</p>
<p dir="ltr">You can also add a description to your photo /video or activate the function “Delete on sunrise” . When this step will ended, your content will be for ever destructed when the sun will rise.</p>
<p dir="ltr">Can I control who sees the content I post on FDTD?</p>
<p dir="ltr">All the contents on FDTD are public for all the users by default, which means that anyone on the service can view them.</p>
<p dir="ltr">If you want that your profile to be private , just go in “Account Settings” and clic on the section “Private Profile”. That will mean that only people you approve will be able to follow your contents.</p>
<p dir="ltr">What happens to posts that have been created but never published?</p>
<p dir="ltr">If you use FDTD to create a photo / video and you choose not to share it on FDTD, the post will not be accessible through your device’s photo library.</p>
<p dir="ltr">In more, there is no way to post a photo / video to FDTD from your device’s photo library.</p>
<p dir="ltr">You can enable “Photo roll saving” in “Account Settings” to automatically save your contents in your photo library when you publish them.</p>
<p dir="ltr">How do I reset my password?</p>
<p dir="ltr">You can change the password on your FDTD account by navigating to the menu and selecting “Settings” and then “Account Settings”.</p>
<p dir="ltr">After that step, you can tap the “Reset password” button.</p>
<p dir="ltr">If you are not receiving your password reset emails, make sure the email address on your account is correct and contains no typos.</p>
<p dir="ltr">You can view what email address is associated with your account on your “Account Settings” page.</p>
<p dir="ltr">How do I delete a photo / video I posted on FDTD?</p>
<p dir="ltr">You can delete any photo/ video you’ve uploaded by navigating to the post on FDTD and tapping on the trash icon and then enable the confirmation and the photo will be deleted and removed from your account definitely.</p>
<p dir="ltr">I just deleted my post! How do I undo this action?</p>
<p dir="ltr">The process of deleting a content is a permanent action. There is no way to retrieve a deleted content.</p>
<p dir="ltr">How do I prevent screenshot(s) ?</p>
&nbsp;
<p dir="ltr">In addition to that, if a user was caught with more than 3  screenshots made on any other profile of a FDTD community member, this user will be automatically and permanently banned  on our service.</p>
&nbsp;
<p dir="ltr">What “PHAT!” mean ?</p>
&nbsp;
<p dir="ltr">PHAT = Pretty Hot And Tempting</p>
&nbsp;
<p dir="ltr">What is “PHAT!” function ?</p>
&nbsp;
<p dir="ltr">A “PHAT” is like a Like. Users can give PHATs to contents they appreciate or they find crazy.</p>
&nbsp;
<p dir="ltr">Why users can’t publish during the day ?</p>
&nbsp;
<p dir="ltr">FDTD is a social network dedicated to Nightlife. Through the concept of publishing only during sunset and sunrise, we focus on this particular moment of the life where and when people have no tabboos and want to change ideas.</p>
&nbsp;
<p dir="ltr">Can I consult / use the application during the day ?</p>
&nbsp;
<p dir="ltr">Yes, for sure. The only thing you can’t do during the day is publishing. And have fun, because what you see on FDTD during the day is what’s happen in Nightlife on the other side of the world.</p>
&nbsp;
<p dir="ltr">Why we don’t have web version &amp; why users can’t share contents on social networks ?</p>
&nbsp;
<p dir="ltr">Our priority is to make our users secure. We want people don’t be scared about publishing contents they don’t want to see on others social networks.</p>
<p dir="ltr">We punish screenshots abuses and keep control on it. On the web, it’s impossible to detect screenshots.</p>
&nbsp;
<p dir="ltr">Why users can’t upload existing contents from their photo library ?</p>
&nbsp;
<p dir="ltr">With FDTD, we want to preserv the moment, the impulsion and prevent innaproriate contents. In more, we don’t want photos / videos taken during the day.</p>
<p dir="ltr">FromDuskTillDawn@copyright2014</p>
<p>
    <br><br><br>
</p>
    </div>

  </ion-content>
</ion-view>