<ion-view class="black-bg" hide-back-button="true">
	<ion-nav-buttons side="left">
        <button menu-toggle="left" ng-click="menuAnimationScale()" class="button button-icon icon ion-navicon button-menu"><span class="icon-with-menu icon-settings"></span></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="icon-camera"></button>
    </ion-nav-buttons>
    <!-- Footer bar -->
    <a class="bar bar-footer bar-red" href="mailto:support@fdtd.co">
	  <b class="title">Report problem</b>
	</a>
	<!-- End footer bar -->
  <ion-content class="has-header title-content">
    <div class="list settings-list">
	  <a class="item" href="#/fdtd/settings/account">
	    Account setting
	  </a>
	  <a class="item" href="#/fdtd/settings/notifications">
	    Notifications
	  </a>

	  <a class="item" href="#/fdtd/settings/termsandprivacy">
	    Terms & privacy
	  </a>

	  <a class="item" href="#/fdtd/settings/faq">
	    FAQ
	  </a>

	</div>
  </ion-content>
</ion-view>