.card-view {
    display:block;
    position: absolute;
    z-index: 1;
    width: 100%;height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*overflow: hidden;*/

    /* Prevent native touch events on Windows */
    -ms-touch-action: none;

    /* Prevent the callout on tap-hold and text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Prevent elements to be highlighted on tap */
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    /* Prevent text resize on orientation change, useful for web-apps */
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    background: black;
}

.deck {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;

    /* Put the scroller into the HW Compositing layer right from the start */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.card .card-image {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    -webkit-background-size: auto 100%;
    background-position-x: 50%;
}

.card img {
    float: left;
    margin: 0 10px 10px 0;
    border: 1px solid #000;
}

.card h3 {
    background-color: #aaa;
    padding: 8px;
    margin-bottom: 10px;
    text-align: center;
}

.index {
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 10000;
}
.indicator {
    display: inline-block;
    background-color: rgba(0,0,0,0.2);
    border-radius: 15px;
    width: 7px;
    height: 7px;
    list-style: none;
    margin-left: 6px;
}

.indicator-container {
    padding: 0 0 5px 0;
    text-align: center;
}

.indicator:first-child {
    margin-left: 0;
}

.indicator.active {
    background-color: rgba(0,0,0,0.8);
}